.gray-center-box {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 280px;
  background: $darkTan;
  border: 2px solid black;

  img,
  svg {
    margin: 0 auto;
  }
}
